# Tahap Pre Processing

In [97]:
# numpy, pandas, min max scaler, train test split, sequential, dense, dropout, accuracy
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from sklearn.metrics import confusion_matrix, accuracy_score

In [98]:
df = pd.read_csv("SaYoPillow.csv")
df.isnull().sum() #Tidak ada yang Null

sr      0
rr      0
t       0
lm      0
bo      0
rem     0
sr.1    0
hr      0
sl      0
dtype: int64

In [99]:
# snoring range of the user, respiration rate, body temperature, limb movement rate, 
# blood oxygen levels, eye movement, number of hours of sleep, heart rate and Stress Levels
df.columns = ["TingkatMendengkur", "TingkatPernapasan", "SuhuTubuh", "GerakanKaki", 
"OksigenDarah", "GerakanMata", "JamTidur", "DetakJantung", "TingkatStres"]

# 0- low/normal, 1 â€“ medium low, 2- medium, 3-medium high, 4 -high
df["TingkatStres"].replace([0,1,2,3,4], ["Low","Medium Low","Medium","Medium High","High"], inplace=True)

df.head()

,TingkatMendengkur,TingkatPernapasan,SuhuTubuh,GerakanKaki,OksigenDarah,GerakanMata,JamTidur,DetakJantung,TingkatStres
0,93.80,25.680,91.840,16.600,89.840,99.60,1.840,74.20,Medium High
1,91.64,25.104,91.552,15.880,89.552,98.88,1.552,72.76,Medium High
2,60.00,20.000,96.000,10.000,95.000,85.00,7.000,60.00,Medium Low
3,85.76,23.536,90.768,13.920,88.768,96.92,0.768,68.84,Medium High
4,48.12,17.248,97.872,6.496,96.248,72.48,8.248,53.12,Low

In [100]:
X = df.drop("TingkatStres", axis="columns")
Y = df["TingkatStres"]

In [101]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.8, random_state=0)
X_train.shape, X_test.shape # train:496 test:124

((496, 8), (124, 8))

In [102]:
# X_test.describe()
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

# Membuat model ML menggunakan ANN

In [ ]:
ann = Sequential()
# ann.add(Dense())
# ann.add(Dense())